<!-- Google Analytics Tracking code -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>


<!-- Full performance tracker code  -->
<!-- Optimus -->
<script type="text/javascript">
  (function() {
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true;
    g.src='https://j01l4h3n.com/optimus-qpuJOAnaa.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Optimus Code -->

{% include hubspot.html %}